<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<%="http://" + request.env["HTTP_HOST"] +request.request_uri%>
<br>
<%="http://" + request.env["HTTP_HOST"] +request.url%>
<br>
<%=request.url%>
